<div class="twentytwenty-container">
    <img src="{{ __SELF__.image1 }}" />
    <img src="{{ __SELF__.image2 }}" />
    <div class='twentytwenty-overlay'>
        <div class='twentytwenty-before-label'>
        	<div class="before-label">{{ __SELF__.beforeLabel }}</div>
        </div>
        <div class='twentytwenty-after-label'>
        	<div class="after-label">{{ __SELF__.afterLabel }}</div>
        </div>
    </div>
    <div class='twentytwenty-handle'>
        <span class='twentytwenty-left-arrow'></span>
        <span class='twentytwenty-right-arrow'></span>
        <div class='twentytwenty-tool-tip'>
        <div>Slide to compare color schemes</div>
    </div>
    </div>
</div>
